mat-toolbar-row{
  background-color: #FFFFFF;
}

.mat-icon-button{
  zoom: 110%;
}

.mat-icon{
  color: #D31F35;
  transform: scale(1.4);
}

.mat-list-item{
  color: #D31F35;
}

.flexy
{
  display: inline-flex;
  flex-direction: row;
  width: inherit;
}

.logo-container
{
  display: inline-flex;
  width: inherit;
  height: 100%;
  align-items: center;
  padding-left: 2em;
  padding-right: 2.5em;
  margin-left: -1.5em;
}

.logo {
height: 2em;
margin-left: auto;
margin-right: auto;
padding-top: 0.1em;
}

.mat-sidenav {
  width: 25% !important;
  min-width: 13em;
  max-width: 17em;
}

mat-sidenav-container
{
  position: fixed !important;
  height: 100%;
  width: 100% !important;
  background-image: linear-gradient(to top, rgb(84,13,22), rgb(211,31,54));
}

.is-active
{
  color: white !important;
  background-color: #D31F35 !important;
}

.mat-list-item:hover:not(.is-active)
{
  background-color: rgba(50, 50, 50, 0.7) !important;
  color: white !important;
}

.mat-sidenav-content
{
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
  background-image: linear-gradient(to top, rgb(84,13,22), rgb(211,31,54));
}
