mat-toolbar{
  background-color: #FFFFFF;
  width: inherit;
}

.mat-icon-button{
  zoom: 110%;
}

.mat-icon{
  color: #D31F35;
  transform: scale(1.5);
}

.mat-list-item{
  color: #D31F35;
}

.flexy
{
  display: inline-flex;
  flex-direction: row;
  width: inherit;
}

.logo-container
{
  display: inline-flex;
  width: inherit;
  height: 100%;
  align-items: center;
  padding-left: 3.5em;
  padding-right: 3em;
  margin-left: -2.5em;
}

.logo {
height: 2em;
margin: auto;
}

.mat-sidenav {
  width: 30vh !important;
}

.is-active
{
  color: white !important;
  background-color: #D31F35 !important;
}

.mat-list-item:hover:not(.is-active)
{
  background-color: rgba(211, 31, 53, 0.01) !important;
}