<mat-toolbar>
    <mat-toolbar-row>
        <div class="flexy">
          <button mat-icon-button>
              <mat-icon class="icon" (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <div class="logo-container">
            <img class="logo" src='/assets/ingeniaCar.svg'>
          </div>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav autoFocus="false" mode="over">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/home'" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">&emsp;Inicio</a>
        <a mat-list-item [routerLink]="'/liberar'" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">&emsp;Liberar</a>
        <a mat-list-item [routerLink]="'/solicitar'" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">&emsp;Solicitar</a>
        <a mat-list-item [routerLink]="'/reportar'" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">&emsp;Reportar</a>
        <a mat-list-item [routerLink]="'/perfil'" (click)="sidenav.toggle()" [routerLinkActive]="['is-active']">&emsp;Perfil</a>
        <a mat-list-item (click)="openDialog()">Cerrar sesión</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
