mat-toolbar-row{
  background-color: #FFFFFF;
}

@keyframes slidein {
    0% { opacity: 0; margin-right: 60% }
    10% { opacity: 1; }
    100% { margin-right: 0%; opacity: 1 }
  }

.mat-icon-button{
  zoom: 110%;
}

.mat-icon{
  color: #D31F35;
  transform: scale(1.4);
}

.mat-list-item{
  color: #D31F35;
}

.flexy
{
  display: inline-flex;
  flex-direction: row;
  width: inherit;
}

.logo-container
{
  display: inline-flex;
  opacity: 0;
  width: inherit;
  height: 100%;
  align-items: center;
  padding-right: 2.8em;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards; 
}

.logo {
  height: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-top: 0.1em;
}

.mat-sidenav {
  width: 25% !important;
  min-width: 13em;
  max-width: 17em;
}

mat-sidenav-container
{
  position: fixed !important;
  height: 100%;
  width: 100% !important;
  background-image: linear-gradient(to top, rgb(148, 22, 39), rgb(211,31,54));
}

.is-active
{
  color: white !important;
  background-color: #D31F35 !important;
}

.mat-list-item:hover:not(.is-active)
{
  background-color: rgba(50, 50, 50, 0.7) !important;
  color: white !important;
}

.mat-sidenav-content
{
  padding-top: 1em;
  padding-left: 3.3em;
  padding-right: 3.3em;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 680px)
{
    .mat-sidenav-content
    {
      padding-top: 0.3em;
      padding-left: 1.3em;
      padding-right: 1.3em;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
    }
}