.card-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  height: min-content;
  margin: auto !important;
  padding: 35px;
}

.login-main {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  zoom: 110%;
  animation-duration: 0.7s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    padding-top: 0.7em;
    opacity: 0%;
  }

  to { }
}

.form-login {
  padding-top: 10%;
}

.pass-forgot {
  margin-top: 0.8em;
}
 
img.logo { 
  padding-top: 10%;
  width: 8em !important;
}