<!-- <p>login works!</p>
<div style="text-align:left" *ngFor="let user of users">
  <div>{{user.id}}{{user.pruebaCadena}}{{user.pruebaCadenaDos}}</div>
</div> -->

<div class="login-main">
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>
        Iniciar sesión
      </mat-card-title>
    </mat-card-header>
    <img class="logo" src="assets/ingeniaCar.svg" />
    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
      <mat-card-content>
        <table>
          <tr>
            <td>
              <mat-form-field style="width: 100%" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
                <input matInput placeholder="Nombre de usuario" type="text" pattern="[a-z]{6,20}" formControlName="UserName">
              </mat-form-field>
            </td>
          </tr> 
          <tr>
            <td>
              <mat-form-field style="width: 100%" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}"> 
                <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="UserPassword" minlength="1">
                <button mat-icon-button matSuffix (click)='hide = !hide' [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hide" type="button">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions style="text-align: center;" class="button-login">
        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
      </mat-card-actions>
    </form>
      <button mat-button color="primary">¿Has olvidado tu contraseña?</button>
  </mat-card>
</div>

<!--

<form [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
  <mat-form-field [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
    <input matInput type="text" formControlName="email" placeholder="Username" />
  </mat-form-field>
  <mat-form-field [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
    <input matInput type="password" formControlName="pass" placeholder="Password" />
  </mat-form-field>
  <button mat-raised-button type="submit"> Sign In</button>
</form>

-->
