<!-- <p>login works!</p>
<div style="text-align:left" *ngFor="let user of users">
  <div>{{user.id}}{{user.pruebaCadena}}{{user.pruebaCadenaDos}}</div>
</div> -->
<div class="login-main">
<mat-card class="card-login">
  <mat-card-header>
    <mat-card-title>[Log In]</mat-card-title>
    <mat-card-title>[Logo]</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <form class="form-login">
      <table>
        <tr>
          <td>
            <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'" name="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </td>
      </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions class = "button-login">
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
  <a href="" class="pass-forgot">Forgot Password?</a>
</mat-card>
</div>
