/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    margin: 0px;
    zoom: 100%;
    background-color: rgb(84,13,22);
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to top, rgb(84,13,22), rgb(211,31,54));
}

.mat-raised-button
{
  font-size: 1.1em; 
}

.mat-icon-button .mat-icon
{
  font-size: 1.35em !important;
} 

.mat-list-base
{
  padding-top: 0px !important;
}