h1{
color: white;
font-weight:300;
font-size: 28pt;
margin: 0 0 1em 0 !important 
}

.circle-mask {
  clip-path: circle(5.2em at center);
}

.profile-pic
{
  width: 12em;
  margin: 1.5em 0 0.5em 0 !important;
}

sat-datepicker-toggle{
  font-size: 1.4em !important;
}

.flexy {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 6em;
}

mat-card
{
  margin: 0 0 0 0;
  padding: 1.7em !important;
}

.separator
{
  min-width: 1.3em;
  min-height: 1.3em;
}

.space-next
{
  margin-right: 2.5em;
}
